<!DOCTYPE html>

<% include ./header %>

<div class="albums-page">
  
  <h2><%= albums.title %></h2>
  <h3><%= albums.artist %></h3>

  <% if (userSess) { %>
    <button class="open-review-button" onclick="showAddForm()">Add Review</button>
    <button class="close-review-button" onclick="hideAddForm()">Cancel</button>
    <form class="add-review" method="post" action="/authorized/add/review/<%=albums.id%>">
      <legend>Add Review</legend>
      <textarea name="review" required></textarea>
      <input type="submit" value="Post" />
    </form>
  <% } %>

  <h2>Reviews</h2>
  <% reviews.forEach(function(review) { %>
    <div class="albums-page-reviews">
    <h3><%= albums.title%></h3>
    <h6><%= review.timestamp%></h6>
    <p><%= review.review %></p>
    <% users.forEach(function(user) { %>
      <% if (user.id === review.user_id) {%>
        <h5><a href="/users/<%= review.user_id %>">By: <%= user.name %></a></h5>
      <% } %>
    <% }) %>
    </div>
  <% }) %>

</div>

<% include ./footer %>