<!DOCTYPE html>

<% include ./header %>
<body>
  
  <h2><%= users.name %></h2>
  <img width="150" height="150" src=<%= users.image %>>
  <h4> Email: <%= users.email %> </h4>
  <h5> Joined:  <%= users.timestamp %> </h5>

  <h2>Albums</h2>

  <% albums.forEach(function(album) { %>
    <div>
      <h4><a href="/albums/<%= album.id %>"><%= album.title %></a></h4>
      <span><%= album.artist %></span>
    </div>
  <% }) %>

  <h2>Reviews</h2>

  <% reviews.forEach(function(review) { %>

    <div>
     <% albums.forEach(function(album) { %>
        <% if (album.id === review.album_id) { %>
          <h4><a href="/albums/<%= review.album_id %>"><%= album.title %></a></h4>
          <span><%= album.artist %></span>
        <% } %>
      <% }) %>
    </div>
    
    <h3><%= review.review%></h3>
    
    <% if (userSess) { %>
      <% if (userSess.id === review.user_id) { %>
        <a href = "/authorized/delete/<%=review.id%>"><img onclick="confirmDelete()"width=30px src="/img/trash.png"/></a>
      <% } %>
    <% } %>
  
  <% }) %>
  
</body>

<% include ./footer %>