<% include ./user-header %>

<div class="sign-up">
  <h1><%= user.name %></h1>
  <img width="150" height="100" src=<%= user.image %>>
  <h2> Email: <%= user.email %> </h2>
  <h4> Joined:  <%= user.timestamp %> </h4>
</div>

<div class="album-list">
<% albums.forEach(function(album) { %>
  <div>
    <h4><a href="albums/<%= album.id %>"><%= album.title %></a></h4>
    <span><%= album.artist %></span>
  </div>
<% }) %>
</div>